body {
    background-color:#006980;
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-family: 'Ottawa Bold';
    height: 80vh;
    margin: -20px 0 70px;
    overflow-x: hidden;
    
    
}
header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    height: 120px;
    text-align: center;
}
 * {
    box-sizing: border-box;
}
.titulo {
    font-size: 50px;
    display: flex;
    justify-content: left;
    margin-left: 100px;
    position: absolute;
    top: 3%;
    color: black;
}

.volver {
    margin: 10px;
    position: absolute;
    top: 3%;
    border-color: #006980;
}

button {
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #006980;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 30px;
}

button:hover {

    background-color: #067863;
    color: #fff;
    border-color: #006980;
    border-width: 2px;
}


button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color:#006980;
}



.controlador {
  width: 400px;
  margin: 0 auto;
}

.controlador table {
  width: 80%;
  border-collapse: collapse;
}

.controlador th,
.controlador td {
  padding: 20px;
  text-align: left;
}

.controlador label {
  font-weight: bold;
  font-size:25px; 
}

.controlador input,
.controlador select {
  width: 100%;
  padding: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 
}

.controlador input[type="submit"] {
border-radius: 20px;
    border: 1px solid #fff;
    background-color: #006980;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 25px;
    margin-left: 100px;
    width: 450px;
}

.controlador input[type="submit"]:hover {
  background-color: #067863;
}

.controlador {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    position: relative;
 
    width: 700px;
    max-width: 100%;
    min-height: 470px;
    color:#006980;
    
}


.controlador {
    left: 50px  ;
    width: 60%;
    z-index: 5;
    height:50px;
    margin-top:50px;
    
}

