body {
    background-color:#006980;
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-family: 'Ottawa Bold';
    height: 80vh;
    margin: -20px 0 70px;
    overflow-x: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    color: #006980;
    
    
}
header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 100px;
    text-align: center;
    
}button {
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #006980;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 30px;
}

.eliminar button{
    border-radius: 20px;
    border: 1px solid #006980;
    background-color: #006980;
    color: #fff;
    font-size: 12px;
    padding: 12px 45px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-bottom: 20px;
   
}
button:hover {

    background-color: #067863;
    color: #fff;
    border-color: #006980;
    border-width: 2px;
}


button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color:#006980;
}

        table {
            border-collapse: collapse;
            margin-top:30px;
            width: 80%; /* Ancho de la tabla */
        }
        th, td {
            padding: 15px;
            text-align: center;
            border:1px;
            radius:5px;
        }
        th {
            background-color: #f2f2f2;
        }

                ul.menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        ul.menu li {
            display: inline-block;
            margin-right: 10px;
        }
        ul.menu li a {
            text-decoration: none;
            padding: 10px;
            background-color: #f2f2f2;
        }
        ul.menu li a:hover {
            background-color: #ccc;
        }
